<% content_for(:pagetitle) do %>
    Editing <i><%= @attendee.full_name %></i>
<% end %>
    
<% content_for(:pagebuttons) do %>
    <div class="btn-group" style="margin-left: 2%; margin-bottom: 1%;">
        <%= link_to 'Show', @attendee, :class => "btn btn-sm btn-info" %>
        <%= link_to 'Back', attendees_path, :class => "btn btn-sm btn-warning" %>
    </div>
<% end %>

<% content_for(:sidebar) do %>

<% end %>

<%= render 'form' %>
<br/>
<% content_for(:pagebuttons) do %>
  <div class="btn-group" style="margin-left: 2%; margin-bottom: 1%;">
      <%= link_to 'Show', @meeting, :class => "btn btn-sm btn-info" %>
      <%= link_to 'Back', meetings_path, :class => "btn btn-sm btn-warning" %>
  </div>
<% end %>