<p id="notice"><%= notice %></p>

<% content_for(:pagetitle) do %>
    <i><%= @attendee.full_name %></i> Details
<% end %>

<% content_for(:pagebuttons) do %>
    <div class="btn-group" style="margin-left: 2%; margin-bottom: 1%;">
        <%= link_to 'Edit', edit_attendee_path(@attendee), :class => "btn btn-sm btn-info" %>
        <%= link_to 'Back', attendees_path, :class => "btn btn-sm btn-warning" %>
    </div>
<% end %>

<% content_for(:sidebar) do %>
    
<% end %>

<p>
  <strong>First name:</strong>
  <%= @attendee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @attendee.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @attendee.email %>
</p>

<br/>