<p id="notice"><%= notice %></p>

<% content_for(:pagetitle) do %>
    <i><%= @attendee.full_name %></i> Details
<% end %>

<% content_for(:sidebar) do %>
    
<% end %>

<p>
  <strong>First name:</strong>
  <%= @attendee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @attendee.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @attendee.email %>
</p>

<br/>
<div class="btn-group">
  <%= link_to 'Edit', edit_attendee_path(@attendee), :class => "btn text-white btn-info" %>
  <%= link_to 'Back', attendees_path, :class => "btn text-white btn-danger" %>
</div>