<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
        <div class="col-lg-4 m-l-15">
            <div class="field form-group">
                <%= f.label :name %><br>
                <%= f.text_field :name, :class => "form-control" %>
            </div>
            <div class="field form-group">
                <%= f.label :url %><br>
                <%= f.text_field :url, :class => "form-control" %>
            </div>
            <div class="field form-group">
                <%= f.label :logo %><br>
                <%= f.text_field :logo, :class => "form-control" %>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-3">
            <div class="actions text-center">
                <%= f.submit :class => "btn btn-lg btn-success" %>
            </div>
        </div>  
    </div>
<% end %>
