<p id="notice"><%= notice %></p>

  <% content_for(:pagetitle) do %>
    "<%= @sponsor.name %>" Details
  <% end %>

    <% content_for(:pagebuttons) do %>
        <div class="btn-group" style="margin-left: 2%; margin-bottom: 1%;">
            <%= link_to 'Edit', edit_sponsor_path(@sponsor), :class => "btn btn-sm btn-info" %>
            <%= link_to 'Back', sponsors_path, :class => "btn btn-sm btn-warning" %>
        </div>
    <% end %>

  <% content_for(:sidebar) do %>
    <%= render "event_list" %>
  <% end %>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sponsor.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @sponsor.logo %>
</p>