  <% content_for(:pagetitle) do %>
    Editing <i><%= @location.name %></i>
  <% end %>

<% content_for(:pagebuttons) do %>
    <div class="btn-group" style="margin-left: 2%; margin-bottom: 1%;">
        <%= link_to 'Show', @location, :class => "btn btn-sm btn-info" %>
        <%= link_to 'Back', locations_path, :class => "btn btn-sm btn-warning" %>
    </div>
<% end %>

  <% content_for(:sidebar) do %>
    <%= render "next_5_meetings" %>
  <% end %>

<%= render 'form' %>