  <% content_for(:pagetitle) do %>
    Editing <i><%= @location.name %></i>
  <% end %>

  <% content_for(:sidebar) do %>
    <%= render "next_5_meetings" %>
  <% end %>

<%= render 'form' %>
<br/>
<div class="btn-group">
    <%= link_to 'Show', @location, :class => "btn text-white btn-info" %>
    <%= link_to 'Back', locations_path, :class => "btn text-white btn-danger" %>
</div>