<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Map url:</strong>
  <%= @location.map_url %>
</p>

<br/>

<h4>Next 5 Meetings Here</h4>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start time</th>
      <th>End time</th>
    </tr>
  </thead>

  <tbody>
    <% @location.meetings.take(5).each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.location.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<div class="btn-group">
  <%= link_to 'Edit', edit_location_path(@location), :class => "btn text-white btn-info" %>
  <%= link_to 'Back', locations_path, :class => "btn text-white btn-danger" %>
</div>