<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
        <div class="col-lg-4 m-l-15">
            <div class="field form-group row">
                <%= f.label :name %><br>
                <%= f.text_field :name, :class => "form-control" %>
            </div>
            <div class="field form-group row">
                <%= f.label :start_date %><br>
                <%= f.text_field :start_date, :class => "form-control", 'data-provide' => 'datepicker' %>
            </div>
            <div class="field form-group row">
                <%= f.label :end_date %><br>
                <%= f.text_field :end_date, :class => "form-control", 'data-provide' => 'datepicker' %>
            </div>
            <div class="field form-group row">
                <%= f.label :url %><br>
                <%= f.text_field :url, :class => "form-control" %>
            </div>
            <div class="field form-group row">
                <%= f.label :sponsor_id %><br>
                <% Sponsor.all.each do |sponsor| %>
                <%= check_box_tag "event[sponsor_ids][]", sponsor.id, @event.sponsors.include?(sponsor) %>
                <%= sponsor.name %>
                <br/>
                <% end %>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-3">
            <div class="actions text-center">
                <%= f.submit :class => "btn btn-lg btn-success" %>
            </div>
        </div>  
    </div>
<% end %>
