<p id="notice"><%= notice %></p>

  <% content_for(:pagetitle) do %>
    Events
  <% end %>

<% content_for(:sidebar) do %>
  <p>No children have ever meddled with the Republican Party and lived to tell about it. Slow down, Bart! My legs don't know how to be as long as yours. I don't like being outdoors, Smithers. For one thing, there's too many fat children.</p>
<p>And now, in the spirit of the season: start shopping. And for every dollar of Krusty merchandise you buy, I will be nice to a sick kid. For legal purposes, sick kids may include hookers with a cold. I stand by my racial slur.</p>
<p>I was saying "Boo-urns. " Oh, loneliness and cheeseburgers are a dangerous mix. And here I am using my own lungs like a sucker. Uh, no, you got the wrong number. <strong> This is 9-1…2.</strong> <em> Fame was like a drug.</em> But what was even more like a drug were the drugs.</p>
<p>I'm a Spalding Gray in a Rick Dees world. What good is money if it can't inspire terror in your fellow man? Fat Tony is a cancer on this fair city! He is the cancer and I am the…uh…what cures cancer?</p>
<p>Fame was like a drug. But what was even more like a drug were the drugs. Save me, Jeebus. That's why I love elementary school, Edna. The children believe anything you tell them. Yes! I am a citizen! Now which way to the welfare office? I'm kidding, I'm kidding. I work, I work.</p>
<ol>
<li>When will I learn? The answers to life's problems aren't at the bottom of a bottle, they're on TV!</li><li>Yes! I am a citizen! Now which way to the welfare office? I'm kidding, I'm kidding. I work, I work.</li><li>I'll be back. You can't keep the Democrats out of the White House forever, and when they get in, I'm back on the streets, with all my criminal buddies.</li>
</ol>

<p>Don't kid yourself, Jimmy. If a cow ever got the chance, he'd eat you and everyone you care about! I didn't get rich by signing checks. Well, he's kind of had it in for me ever since I accidentally ran over his dog. Actually, replace "accidentally" with "repeatedly" and replace "dog" with "son."</p>
<p>Yes! I am a citizen! Now which way to the welfare office? I'm kidding, I'm kidding. I work, I work. Whoa, slow down there, maestro. There's a *New* Mexico? I'll be back. You can't keep the Democrats out of the White House forever, and when they get in, I'm back on the streets, with all my criminal buddies.</p>
<ul>
<li>You don't like your job, you don't strike. You go in every day and do it really half-assed. That's the American way.</li><li>Homer no function beer well without.</li><li>But, Aquaman, you cannot marry a woman without gills. You're from two different worlds… Oh, I've wasted my life.</li>
</ul>

<p>Don't kid yourself, Jimmy. If a cow ever got the chance, he'd eat you and everyone you care about! Books are useless! I only ever read one book, "To Kill A Mockingbird," and it gave me absolutely no insight on how to kill mockingbirds! Sure it taught me not to judge a man by the color of his skin…but what good does *that* do me?</p>
<p>Here's to alcohol, the cause of — and solution to — all life's problems. I hope this has taught you kids a lesson: kids never learn. He didn't give you gay, did he? Did he?! Thank you, steal again.</p>
<% end %>

<table class="table table-responsive table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sponsors</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Url</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td>
            <% Sponsor.all.each do |sponsor| %>              
              <% if event.sponsors.include?(sponsor)%>
                <%= sponsor.name %>
                <% if event.sponsors.count > 1 %>
                  <br />
                <% end %>
              <% end %>
            <% end %>
        </td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.url %></td>
        <td class="text-center"><%= link_to 'Show', event, :class => "btn btn-info" %></td>
        <td class="text-center"><%= link_to 'Edit', edit_event_path(event), :class => "btn btn-warning" %></td>
        <td class="text-center"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, :class => "btn btn-lg btn-primary" %>
