<p id="notice"><%= notice %></p>

<% content_for(:pagetitle) do %>
    "<%= @event.name %>" Details
<% end %>

<% content_for(:pagebuttons) do %>
    <div class="btn-group" style="margin-left: 2%; margin-bottom: 1%;">
        <%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-sm btn-info" %>
        <%= link_to 'Back', events_path, :class => "btn btn-sm btn-warning" %>
    </div>
<% end %>

<% content_for(:sidebar) do %>
    <%= render "sponsor_list" %>
    <br/>
    <%= render "meetings_in_event" %>
<% end %>

<p>
    <strong>Name:</strong>
    <%= @event.name %>
</p>

<p>
    <strong>Start date:</strong>
    <%= @event.start_date %>
</p>

<p>
    <strong>End date:</strong>
    <%= @event.end_date %>
</p>

<p>
    <strong>Url:</strong>
    <%= @event.url %>
</p>

<p>
    <strong>Sponsors:</strong>
    <br/>
    <% Sponsor.all.each do |sponsor| %>              
        <% if @event.sponsors.include?(sponsor)%>
        <%= sponsor.name %>
            <% if @event.sponsors.count > 1 %>
            <br/>
            <% end %>
        <% end %>
    <% end %>
</p>