<p id="notice"><%= notice %></p>

  <% content_for(:pagetitle) do %>
    "<%= @event.name %>" Details
  <% end %>

  <% content_for(:sidebar) do %>
    <%= render "sponsor_list" %>
    <br/>
    <br/>
    <%= render "meetings_in_event" %>
  <% end %>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.url %>
</p>

<p>
  <strong>Sponsors:</strong>
  <br/>
  <% Sponsor.all.each do |sponsor| %>              
    <% if @event.sponsors.include?(sponsor)%>
      <%= sponsor.name %>
        <% if @event.sponsors.count > 1 %>
         <br/>
        <% end %>
    <% end %>
  <% end %>
</p>

<br/>

<br/>
<div class="btn-group">
  <%= link_to 'Edit', edit_event_path(@event), :class => "btn text-white btn-info" %>
  <%= link_to 'Back', events_path, :class => "btn text-white btn-danger" %>
</div>