<p id="notice"><%= notice %></p>

  <% content_for(:pagetitle) do %>
    "<%= @meeting.name %>" Details
  <% end %>
    
    <% content_for(:pagebuttons) do %>
        <div class="btn-group" style="margin-left: 2%; margin-bottom: 1%;">
            <%= link_to 'Edit', edit_meeting_path(@meeting), :class => "btn btn-sm btn-info" %>
            <%= link_to 'Back', meetings_path, :class => "btn btn-sm btn-warning" %>
        </div>  
    <% end %>

  <% content_for(:sidebar) do %>
    <h3>Meeting Location:</h3>
    <ul>
      <li><%= link_to @meeting.location.name, @meeting.location %></li>
  <% end %>
<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time.strftime('%b. %e, %l:%M%p') %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time.strftime('%b. %e, %l:%M%p') %>
</p>
