<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field(:concert_id, :value => @concert.id) %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :card_number %><br>
    <%= f.text_field :card_number, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :card_expires_on %><br>
    <%= f.date_select :card_expires_on, :discard_day => true,
        :start_year => Date.today.year, :end_year => Date.today.year+10,
        :add_month_numbers => true, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :ticket_quantity %><br>
    <%= f.number_field :ticket_quantity, :min => 1, :max => 9, :step => 1, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :payment_amount %><br>
    <%= f.text_field :payment_amount, :value => number_with_precision(@concert.price, :precision => 2), :readonly => true, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
